* {
	margin: 0;
	padding: 0;
}

body {
	background-color: #ccffcc;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size: 16px;
}

#body {
	margin: 100px;
}

h1 {
	margin-top: 20px;
	font-size: 24px;
	text-align: center;
}

ul {
	margin: 0 0 10px 20px;
}

li {
	padding: 0 0 5px 0;
}

a {
	color: green;
	text-decoration: none;
}

img {
	border-radius: 5px;
}

textarea {
	width: 95%;
	line-height: 20px;
	height: 300px;
	padding: 15px;
	border-radius: 5px;
}

label {
	font-weight: bold;
	margin: 10px;
	padding: 15px;
	font-size: 20px;
}

select {
	width: auto;
	font-weight: bold;
	font-size: 20px;
	border: none;
	padding: 15px;
	box-shadow: 5px 5px 5px #888;
	border-radius: 5px;
	margin: 10px;
}

.hasDatepicker {
	width: auto;
}

#rightCol {
	margin: 30px;
	margin-top: 0px;
	float: right;
	width: 250px;
	line-height: 1.5em;
}

#leftCol {
	margin-left: 30px;
	float: left;
	font-size: small;
}

@media all and (max-width:1600px) {
	#leftCol {
		width: 850px;
	}
}

@media all and (max-width:1300px) {
	#leftCol {
		width: 600px;
	}
}

@media all and (max-width:1000px) {
	#leftCol {
		width: 450px;
	}
}


#comptecard{
	width:280px;
	display: inline-block;
	margin:10px;
	text-align: left;
}
#comptecard #action{
	float:right;
}
#numlog {
	font-size: x-small;
	font-weight: bold;
	margin-right:15px;
}
#numcontact {
	margin-right:15px;
	font-size: x-small;
	font-weight: bold;
}

#navigation {
	padding:10px;
}
#navigation #action {
	float:right;
}

#log {
	width: 700px;
	border: thin;
	line-height: 1.5em;
	border-color: #888;
	left: 5px;
	font-size: normal;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 5px;
	overflow: hidden;
}

@media all and (max-width:1600px) {
	#log {
		width: 695px;
	}
}

@media all and (max-width:1300px) {
	#log {
		width: 445px;
	}
}

@media all and (max-width:1000px) {
	#log {
		width: 295px;
	}
}


#log #action {
	float: right;
	display:none;
}
#log:hover > #action {
	display:inherit;
}
#tabs{
	box-shadow: 5px 5px 5px #aaa;
	height:50px;
	-o-transition: height 1.5s ease-in;
	-webkit-transition: height 1.5s ease-in;
	-moz-transition: height 1.5s ease-in;
	overflow:hidden;
		
}
#tabs:hover{
	height:1000px;
}
#tabs ul{
	margin:5px;
}
#tabs h1{
	background-color:#ccffcc;
	border-width:1px;
	border-bottom-style: solid;
	margin: 0px;
	padding: 10px;
	border-color: #888;
	border-radius: 5px 5px 0 0;
}


#address {
	border: thin;
	line-height: 1.5em;
	border-color: #888;
	border-style: solid;
	right: 5px;
	font-size: small;
	margin-bottom: 5px;
	padding: 5px;
	box-shadow: 5px 5px 5px #aaa;
	border-radius: 5px;
}

.checked{
	background-color: 9999ff;
}

#address:hover {
	background-color: #eef;
}

#address:hover > #action {
	display:inherit;
}

#address #action {
	display:none;
	float:right;	
}

#contact {
	height: 2.5em;
	line-height: 1.5em;
	border: thin;
	border-style: solid;
	border-color: #888;
	right: 5px;
	font-size: small;
	margin-bottom: 10px;
	padding: 5px;
	box-shadow: 5px 5px 5px #aaa;
	border-radius: 5px;
	overflow: hidden;
	-o-transition: height .5s ease-in;
	-webkit-transition: height .5s ease-in;
	-moz-transition: height .5s ease-in;
}

#contact:hover {
	height: 8.5em;
	background-color: #eef;
}

#contact:hover > #action {
	display:inherit;
}

#contact #action {
	float: right;
	display:none;
}

#profile {
	width:500px;
	margin:auto;
	line-height: 1.5em;
	border: thin;
	border-style: solid;
	border-color: #888;
	right: 5px;
	font-size: small;
	margin-top: 100px;
	margin-bottom: 30px;
	padding: 15px;
	box-shadow: 5px 5px 5px #aaa;
	border-radius: 5px;
	overflow: hidden;
	-webkit-transition: background-color .5s ease-in;
}

#profile .inner {
	width: 300px;
	margin:auto;
	line-height: 3em;
}

#profile input {
	font-size:20px;
}
#profile  .login {
	text-align: center;
	margin:10px;
}


#profile:hover {
	background-color: #ddf;
}

#profile:hover > #action {
	display:inherit;
}

#profile #action {
	float: right;
	display:none;
}

#famfamfam {
	margin-right: 3px;
	vertical-align: middle;
}

.small {
	font-size: small;
	font-style: italic;
	color: #999;
}

input {
	width: 95%;
	padding: 5px;
	border-radius: 5px;
}

.button input {
	width: auto;
	font-weight: bold;
	font-size: 20px;
	border: none;
	padding: 5px;
	background-color: #88ff88;
	box-shadow: 5px 5px 5px #888;
	border-radius: 5px;
	margin: 10px;
}

.button input:hover {
	background-color: #ccccff;
	box-shadow: 2px 2px 5px #888;
}

.menuButton {
	width: auto;
	font-weight: bold;
	font-size: 20px;
	border: none;
	padding: 5px;
	background-color: #88ffff;
	box-shadow: 5px 5px 5px #888;
	border-radius: 5px;
	margin: 10px;
}

.menuButton:hover {
	box-shadow: 3px 3px 3px #888;
	background-color: #9999ff;
}

.paginateButtons {
	margin: 2px;
}

.step {
	padding: 5px;
}

.currentStep {
	padding: 5px;
}

.dialog * {
	font-size: 16px;
	vertical-align: middle;
}

@media all and (max-width:1600px) {
	#wrapper {
		box-shadow: 20px 10px 10px #888;
		opacity: 0.80;
		width: 1200px;
		margin: auto;
		background-color: #ffffff;
		padding: 10px;
	}
}

@media all and (max-width:1300px) {
	#wrapper {
		box-shadow: 20px 10px 10px #888;
		opacity: 0.80;
		width: 950px;
		margin: auto;
		background-color: #ffffff;
		padding: 10px;
	}
}

@media all and (max-width:1000px) {
	#wrapper {
		box-shadow: 20px 10px 10px #888;
		opacity: 0.80;
		width: 800px;
		margin: auto;
		background-color: #ffffff;
		padding: 10px;
	}
}

#login a {
	background-color: #ffdddd;
}

.search input {
	position: relative;
	width: 150px;
	font-size: 15px;
	top: -65px;
	left: 700px;
	border-radius: 5px;
	padding-left: 10px;
}

#image {
	text-align: center;
	font-family: 'Nothing You Could Do', cursive;
	width: 200px;
	padding: 10px;
	padding-bottom: 30px;
	display: block;
	background-color: #ffffff;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888;
}

#fieldname {
	color: #99bb99;
}

#menu {
	position: fixed;
	left: -120px;
	z-index: 100;
	top: 15%;
	width: 150px;
	margin-top: -2.5em;
}

#menu:hover {
	left: -20px;
}

#menu .navigation_active * {
	background-color: #ffaaaa;
}

#menuLeft .navigation_active * {
	background-color: #ffaaaa;
}

#menu a {
	display: block;
	text-align: right;
	padding: 10px;
	z-index: 100;
	line-height: 20px;
	margin-top: 5px;
	font-family: 'IM Fell English', serif;
	border-radius: 0 5px 5px 0;
	box-shadow: 5px 5px 5px #888;
	background-color: #aaffaa;
	font-weight: bold;
}

#menu a:hover {
	background-color: #ccccff;
	box-shadow: 2px 2px 5px #888;
}

#menu * {
	text-align: right;
	list-style: none;
}

#menuLeft * {
	text-align: left;
	list-style: none;
}

#menuLeft {
	position: fixed;
	right: -100px;
	z-index: 100;
	top: 15%;
	width: 150px;
	margin-top: -2.5em;
	text-align: right;
}

#menuLeft:hover {
	position: fixed;
	right: 0px;
	z-index: 100;
	top: 15%;
	width: 150px;
	margin-top: -2.5em;
	text-align: right;
}

#menuLeft a {
	display: block;
	text-align: left;
	padding: 10px;
	z-index: 100;
	line-height: 20px;
	margin-top: 5px;
	font-family: 'IM Fell English', serif;
	border-radius: 5px 0 0 5px;
	box-shadow: 5px 5px 5px #888;
	background-color: #aaffaa;
	font-weight: bold;
}

#menuLeft a:hover {
	background-color: #ccffcc;
	box-shadow: 2px 2px 5px #888;
}

.rounded-corner {
	padding: 60px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px #888;
	background-color: #aaffaa;
	font-weight: bold;
}

#header {
	margin: 30px;
	padding: 30px;
	border-style: solid;
	border-radius: 5px;
	border-color: #888;
	box-shadow: 5px 5px 5px #888;
	background-color: #ccffcc;
	font-size: 50px;
	font-weight: bold;
	border-radius: 5px;
}

#header #action{
	display: none;
}
#header:hover #action{
	display:inline-block;
	vertical-align: top;
}

#logo {
	margin-left: 40px;
	margin-top: 15px;
}

#content {
	padding: 10px;
}

#footer {
	padding-top: 20px;
	clear: both;
	text-align: center;
	font-size: 11px;
	bottom: 10px;
}

.center {
	text-align: center;
}

.list td{
	border: thin solid #888;
	empty-cells: show;
}

.list th{
	border: thin solid #888;
	padding:3px;
}

.list th td{
	padding:5px;
}

.list table {
	border: thin solid #888;
	padding:0;
	line-height:30px;
	border-radius:5px;
	box-shadow: 5px 5px 5px #aaa;
}

table {
	padding-left:30px;
	padding-right:30px;
	border-spacing: 0;
	width: 100%;
}

.fc-view table {
	padding-left:0px;
	padding-right:0px;
}


table th {
	background-color: #ccffcc;
	text-align: center;
}

table tr.row0 {
	background-color: #99ff99;
	text-align: left;
}

td {
	padding: 5px;
}

table tr.row1 {
	background-color: #aaffaa;
	text-align: left;
}